version: "3.9"

services:
  postgres:
    image: postgres:18-alpine
    container_name: assets_pg_prod
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata_prod:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app_net

  migrate:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: assets_migrate_prod
    command: ["./migrate", "up"]
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"
    networks:
      - app_net

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: assets_app_prod
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    environment:
      GIN_MODE: ${GIN_MODE}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
    ports:
      - "${PORT}:8080"
    networks:
      - app_net

volumes:
  pgdata_prod:

networks:
  app_net:
    driver: bridge